<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="secondary">

            <ion-button>
                <ion-icon slot="icon-only" name="language-outline"></ion-icon>
            </ion-button>

            <ion-button>
                <ion-icon slot="icon-only" name="play-outline"></ion-icon>
            </ion-button>

        </ion-buttons>

        <ion-img style="width: 35px; height: 35px; display:inline-block; margin-left: 1%;" src=" ../assets/img/ts_logo.png "></ion-img>
        <ion-title style="display:inline-block">MatrioshTS</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- EDITOR -->
    <div style="padding:1%;">
        <ion-row>
            <ion-col>
                <ion-label position="floating ">
                    <ion-icon name="enter-outline"></ion-icon> Código Fuente</ion-label>
                <ngx-codemirror [options]="{
                    lineNumbers: true,
                    theme: 'darcula',
                    mode: 'javascript'
                  }" [(ngModel)]="input " [disabled]="false " [autoFocus]="true ">
                </ngx-codemirror>
            </ion-col>
            <ion-col>
                <ion-icon name="enter-outline"></ion-icon>
                <ion-label position="floating "> Traducción</ion-label>
                <ngx-codemirror [options]="{
                    lineNumbers: true,
                    theme: 'darcula',
                    mode: 'javascript'
                  } " [(ngModel)]="output " [disabled]="true " [autoFocus]="false ">
                </ngx-codemirror>
            </ion-col>
        </ion-row>
    </div>


    <!-- CONSOLA -->
    <div style="padding:1%; padding-top:0;">        
        <ion-item>

            <ion-label position="stacked">
                <ion-icon name="terminal-outline"></ion-icon> Terminal</ion-label>
            <ion-textarea readonly #myInput rows="9 ">PS MatrioshTS>
            </ion-textarea>
        </ion-item>
    </div>


    <!-- TABS PARA MOSTRAR CONTENIDO EXTRA -->
    <div style="padding:1%; padding-top:0;">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab>
              <ng-template mat-tab-label>                
                    <ion-label><ion-icon name="git-network-outline"></ion-icon>Reporte AST</ion-label>
              </ng-template>
              <!-- CONTENIDO DEL TAB AST -->
              Content 1
            </mat-tab>
          
            <mat-tab>
              <ng-template mat-tab-label>
                    <ion-label><ion-icon name="grid-outline"></ion-icon> Tabla de Símbolos</ion-label>
              </ng-template>
              <!-- CONTENIDO DEL TAB SIMBOLOS -->
              Content 2
            </mat-tab>
          
            <mat-tab>
              <ng-template mat-tab-label>                                    
                    <ion-label><ion-icon name="bug-outline"></ion-icon> Reporte de Errores</ion-label>                
              </ng-template>
              <!-- CONTENIDO DEL TAB ERRORES -->
              Content 3
            </mat-tab>
          </mat-tab-group>                
    </div>


</ion-content>