<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="secondary">

            <ion-button>
                <ion-icon slot="icon-only" name="language-outline"></ion-icon>
            </ion-button>

            <ion-button>
                <ion-icon slot="icon-only" name="play-outline"></ion-icon>
            </ion-button>

        </ion-buttons>

        <ion-img style="width: 35px; height: 35px; display:inline-block; margin-left: 1%;" src=" ../assets/ts_logo.png "></ion-img>
        <ion-title style="display:inline-block">MatrioshTS</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <textarea id="editor"></textarea>


</ion-content>